<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<solution>
		<add key="disableSourceControlIntegration" value="true" />
	</solution>
	<packageRestore>
		<add key="enabled" value="True" />
		<add key="automatic" value="True" />
	</packageRestore>

	<packageSources>
		<add key="Nuget Public" value="https://api.nuget.org/v3/index.json" />
		<add key="Vision2 CI-Feed" value="https://pkgs.dev.azure.com/vision2/Vision2/_packaging/CI-Feed/nuget/v3/index.json" />
	</packageSources>
	<disabledPackageSources />

	<activePackageSource>
		<add key="All" value="(Aggregate source)" />
	</activePackageSource>

</configuration>